html{
	font-size: 625%; 
}
body{
	margin: 0;
	overflow-y: scroll;
}
header{
	position: fixed;
	top: 0;
	height: .52rem;
	width: 100%;
	background:#044a28 ;/* #3e940a */
}
.back{
    position: absolute;
    left: .2rem;
    top: .15rem;
    width: .15rem;
    height: .15rem;
    border-bottom: 0.03rem solid #ffffff;
    border-left: 0.03rem solid #ffffff;
    transform: rotate(45deg);
}
.layui-icon-username{
	position: absolute;
    right: .2rem;
    top: .08rem;
    font-size:.32rem ;
    color:#ffffff;
}
main{
	z-index: -1;
	position: absolute;
	top: .5rem;
	width: 100%;
}
.index-main{
	overflow-y: scroll;
}
.meeting-main{
	bottom: 0;
}

.news{
	line-height: 3rem;
	font-size: .5rem;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.xwa{
	background: url(../images/bg1.jpg) no-repeat 0 0/cover;
}
.xwb{
	background: url(../images/bg2.png) no-repeat 0 0/cover;
}
.xwc{
	background: url(../images/bg3.jpg) no-repeat 0 0/cover;
}


.list{
	padding: .15rem;
}
.list ul{
	line-height: .5rem;
	text-align: center;
	font-weight: bold;
	font-size: .20rem;

}
.list li{
	
	display: flex;
	/* align-self: center; */
	justify-content:space-around;
	flex-wrap:wrap;
	width: 100%;
	
	border-bottom: solid 2px #74b74d;/* 044a28 */
}
.list a{
	display: inline-block;
	width: 15%;
	padding: .15rem .15rem;
	line-height: .2rem;
}
.list span{
	font-weight: bold;
	font-size: .16rem;
}
nav{
	height: 100%;
	width:30%;
	overflow-y: scroll;
	border-right: solid 2px #74b74d; 
}
.detial{
	overflow-y: scroll;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 70%;
	margin-left: 30%;
	padding:0;

}
.layui-timeline{
	padding: .2rem;
	font-size: .2rem;
	font-weight: bold;
	line-height: .5rem;
}
.layui-timeline p{
	font-size: .14rem;
	color: #696969;
	line-height: .15rem;
	font-weight: bold;
}
.layui-timeline span{
	font-weight: normal;
}
.layui-timeline-item{
	margin-top: .15rem
}
.detail-main .meeting-name{
	height: 2.5rem;
	width: 100%;
	text-align: center;
	line-height: 2.5rem;
	font-weight: bold;
	font-size: .3rem;
	/* color: #ffffff; */
	background: url(../images/4.jpg) no-repeat 0 0/cover;
}

.detail-main{
	top:0;
}

.content{
	font-size: .16rem;
	line-height: .20rem;
	text-indent:.35rem;/* 首行缩进 */
	padding: 0 .15rem  .15rem .15rem;
	margin:0;
}
.detail-main .tab{
	font-size: .18rem;
	font-weight: bold;
	line-height: .20rem;
	padding: .15rem;
	text-indent:0;

}
.layui-text a:not(.layui-btn) {
    color: #74b74d;
}
.detail-main .article-name{
	text-align: center;
	font-weight: bold;
	font-size: .3rem;
	border-top: solid 2px #74b74d;
	padding: .2rem 0

}
.detail-main .article-speaker{
	/* text-align: center; */
	font-weight: bold;
	font-size: .2rem;
	padding: .15rem;

}
.detail-main .lable{
	font-size: .16rem;
	font-weight: bold;
	line-height: .18rem;
}
.important{
	color: #276204;
}
.news-name{
	text-align: center;
	font-weight: bold;
	font-size: .3rem;
	border-top: solid 2px #74b74d;
	padding: .2rem 0

}