html{
	font-size: 625%; 
}
body{
	margin: 0;
}
.icon{
	display: inline-block;
	background: url(../images/css_sprites.png) no-repeat;
	
}
header{
	position: fixed;
	top: 0;
	width: 100%;
}
.header{
	display: flex;
	height: .5rem;
	align-items: center;
	text-align: center;
	background: #5fc0cd;
}
.top-button{
	overflow:hidden; 
	margin: 0 auto;
	height: .35rem;
	border-radius: 0.05rem;
	color: #ffffff;
	background-color: #55a8b3;
}
.zgz{
	display: inline-block;
	float: left;
	outline: none;
	width: .7rem;
	height: .35rem;
	border:none;
	border-radius: 0.05rem;
	font-size: .17rem;
	color: #ffffff;
	background-color: #55a8b3;
}
.zhg{
	display: inline-block;
	float: right;
	outline: none;
	width: .7rem;
	height: .35rem;
	border:none;
	border-radius: 0.05rem;
	font-size: .17rem;
	background-color: #ffffff;
	color: #5fc0cd;
}
.a{
	position: absolute;
	right: .15rem;
	width: .42rem;
	height: .44rem;
	background-size: 0.66rem 3.33rem;
	background-position: -0.1rem -2.79rem; 
	transform:scale(0.5);
}
.top{
	display: flex;
	top: .5rem;
	border-bottom:solid .01rem #e1e5e7;
	background-color: #ffffff;
}
.triangle{
	display: inline-block;
	position: absolute;
	right: .08rem;
	top: .18rem;
    border-left: 0.05rem solid transparent;
    border-right: 0.05rem solid transparent;
    border-top: .05rem solid  #999999;
}
.nav{
	position: relative;
	border-right: solid .01rem #e1e5e7;
	margin: 0;
	padding: 0;
}
.nav,a{
	display: inline-block;
	width: 100%;
	text-decoration:none;
	line-height: .4rem;
	font-size: .14rem;
	text-align: center;
	color: #999999;
}

.plat a:hover{background-color: #5fc0cd}

.plat{
	 z-index: 1;
	 display: none;
	 position: absolute;
	 padding: 0;
	 margin-top: .01rem;
	 width: 100%; 
	 font-size: .14rem;
	 text-align: center;
	 list-style: none;
	 color: #999999;
	 background-color: #ffffff;
	 box-shadow: 0 .16rem .32rem 0 #999999;
}
.nav:hover .plat{
            display: block;
        }

main{
	z-index: -1;
	position: absolute;
	top: .9rem;
	bottom: .5rem;
	overflow-y: scroll;
	width: 100%;
}

.info {
	padding: 0;
	margin: 0;
}
.info li{
	padding: .15rem;
	border-bottom: solid .01rem #e1e5e7;
	font-size: .14rem;
	color: #cccccc;
}
.b{
	width: .20rem; 
	height: .12rem;
	background-size: 0.33rem 1.565rem;
    background-position: -0.05rem -0.265rem;
}
.c{
	width: .20rem; 
	height: .12rem;
	background-size: 0.33rem 1.565rem;
    background-position: -0.05rem -0.05rem;
}
.address{
	font-size: .13rem;
	color: #cccccc;
}
.content{
	display: flex;
	overflow:hidden;
	padding-left: .20rem;
	align-items: center;
	color: #333333;  
}
.price{
	margin-left: auto;
	font-size: .15rem;
	color: #e63b0e;
}
.go{
	transform: rotate(45deg);
    margin: 0.05rem;
    width: 0.12rem;
    height: 0.12rem;
    border-top: 0.03rem solid #5fc0cd;
    border-right: 0.03rem solid #5fc0cd;    
}


footer{
	position: fixed;
	bottom: 0;
	display: flex;
	height: .5rem;
	width: 100%;
	align-self: center;
	background: #f8fafb;	
}

.home::before {
    display: block;
    margin-bottom: .07rem;
    content: "";
    width: .23rem; 
	height: .20rem;
    background: url(../images/css_sprites.png) no-repeat -0.05rem -0.43rem;
    background-size: 0.33rem 1.565rem;
}
.edit::before {
    display: inline-block;
    content: "";
	width: .20rem; 
	height: .21rem;
    background: url(../images/css_sprites.png) no-repeat -0.05rem -0.725rem;
    background-size: 0.33rem 1.565rem;
}
.self::before {
    display: block;
    margin-bottom: .07rem;
    content: "";
	width: .21rem; 
	height: .205rem;
    background: url(../images/css_sprites.png) no-repeat -0.05rem -1.03rem;
    background-size: 0.33rem 1.565rem;
}

.edit{
	/* outline: none;
	margin: auto;
	border:none;
	color: #5fc0cd;	
	background-color: #ffffff; */
	width: .45rem;
    height: .45rem;
    border-radius: 50%;
    border-style: none;
    outline: none;
    background-color: #5FC0CD;
}
.home{
	outline: none;
	margin: auto;
	border:none;
	font-size: 0.1rem;
	color: #5fc0cd;	
	background-color: #ffffff;
}
.self{
	outline: none;
	margin: auto;
	border:none;
	font-size: 0.1rem;
	color: #999999;
	background-color: #ffffff;
}